body{
	background:#ececec url(../images/sos.png) repeat;
	font-size:87.5%;
	font-family: 'Open Sans', sans-serif;
	color:#666666;
	line-height:1.7em;
	text-align:left;
}

a{
	text-decoration:none;
	color:#781a26;
}

a:hover{
	color:#666666;
}

h2{
	color:#781a26;
}

.clr{
	clear:both;
}

#container{
	margin:0 auto;
	width:80%;
	overflow:auto;
	clear:both;
	
}

#logo{
	margin:10px 0;
	display:block;
	width:45%;
}

 .main-nav{
	background:#882433;
	height:40px;
	border-radius:5px;
	border:#c13046 1px solid;
}

.main-nav ul{
	list-style:none;
	margin:0;
	padding:0;
}

.main-nav li{
	float:left;
	
	display:inline;
	margin-right:3px;
}

 .main-nav li a{
	color:#fff;
	display:inline-block;
	padding:10px 20px;
	height:20px;
}

 .main-nav li a:hover, .main-nav li a.active{
	background:#efeadd;
	color:#781a26;
	border-radius:5px;
}

#content{
	overflow:auto;
	width:70%;
	float:left;
}

 article{
	border-radius:5px;
	overflow:auto;
	background:#ffffff;
	padding:10px 15px;
	margin-top:10px;
}

#content article span{
	font-style:italic;
	color:#000000;
}

 .readmore{
	display:block;
	float:right;
	color:#ffffff;
	padding:5px 9px;
	background:#c13046;
	border-radius:5px;
}

 .readmore:hover{
	color:#000000;
}

#sidebar{
	width:30%;
	float:left;	
}

 .block{
	border-radius:5px;
	background:#ffffff;
	margin: 10px 0 0 10px;
	padding:10px 15px;
	overflow:auto;
}

footer{
	background:#882433;
	height:40px;
	border:#c13046 1px solid;
	border-radius:5px;
	margin-top:10px;
}

footer p{
	color:#fff;
	margin:0;
	padding:10px 0 0 0;
	text-align:center;
}

